@use "@local/utilities/color/styles/color-utilities" as *;
@use "@local/styles/animation/animation-utilities" as *;

.button {
  --scale: 1;

  background-color: get-color("black");
  bottom: 1rem;
  color: get-color("white");
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: fixed;
  right: 1rem;
  transform: scale(var(--scale));
  transition:
    opacity 0.3s,
    transform duration(0.2s);
  z-index: 10;
}

@media (hover: hover) {
  .button:hover {
    --scale: 1.1;
  }
}

.buttonShown {
  opacity: 1;
  pointer-events: all;
}

.viewportReference {
  height: var(--reveal-threshold, 300px);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
