@use 'sass:list';

// ranges in pixels (min, max)
$small: 0, 639;
$medium: 640, 1023;
$large: 1024, 1143;
$xlarge: 1144, 1439;
$xxlarge: 1440;

// media queries
$small-only: "screen and (max-width: #{list.nth($small, 2)}px)";
$medium-up: "screen and (min-width: #{list.nth($medium, 1)}px)";
$medium-only: "screen and (min-width: #{list.nth($medium, 1)}px) and (max-width: #{list.nth($medium, 2)}px)";
$large-up: "screen and (min-width: #{list.nth($large, 1)}px)";
$large-only: "screen and (min-width: #{list.nth($large, 1)}px) and (max-width: #{list.nth($large, 2)}px)";
$xlarge-up: "screen and (min-width: #{list.nth($xlarge, 1)}px)";
$xlarge-only: "screen and (min-width: #{list.nth($xlarge, 1)}px) and (max-width: #{list.nth($xlarge, 2)}px)";
$xxlarge-up: "screen and (min-width: #{$xxlarge}px)";
