@use "@local/styles/settings-breakpoints.scss" as *;

@mixin breakpoint-classnames($prefix: "") {
  .align#{$prefix}-flex-start {
    align-items: flex-start;
  }

  .align#{$prefix}-center {
    align-items: center;
  }

  .align#{$prefix}-flex-end {
    align-items: flex-end;
  }

  .align#{$prefix}-baseline {
    align-items: baseline;
  }

  .align#{$prefix}-stretch {
    align-items: stretch;
  }

  .justify#{$prefix}-flex-start {
    justify-content: flex-start;
  }

  .justify#{$prefix}-center {
    justify-content: center;
  }

  .justify#{$prefix}-flex-end {
    justify-content: flex-end;
  }

  .justify#{$prefix}-space-between {
    justify-content: space-between;
  }

  .justify#{$prefix}-space-around {
    justify-content: space-around;
  }

  .wrap#{$prefix}-true {
    flex-wrap: wrap;
  }

  .wrap#{$prefix}-false {
    flex-wrap: nowrap;
  }

  .reverse#{$prefix}-true {
    flex-direction: row-reverse;
  }

  .reverse#{$prefix}-false {
    flex-direction: row;
  }
}

.flex {
  display: flex;
}

@include breakpoint-classnames;

@media #{$medium-up} {
  @include breakpoint-classnames(md);
}

@media #{$large-up} {
  @include breakpoint-classnames(lg);
}

@media #{$xlarge-up} {
  @include breakpoint-classnames(xl);
}

@media #{$xxlarge-up} {
  @include breakpoint-classnames(xxl);
}
