@use "@local/styles/settings/settings-breakpoints" as *;
@use "../styles/grid-layout-utilities" as layout;

@mixin make-column-classnames($breakpoint: false) {
  $base-class: "span";

  @if $breakpoint {
    $base-class: "span-#{$breakpoint}";
  }

  @for $i from 1 through 12 {
    .#{$base-class}-#{$i} {
      flex: 0 0 layout.grid-calc($i);
    }
  }
}

.column {
  flex: 1;
  list-style: none;
  margin: 0;
  padding-inline: calc(var(--wtc-gutter-width, 24px) * 0.5);
}

.deep {
  padding-inline: 0;
}

@media #{$md-up} {
  @include make-column-classnames;
}

@media #{$lg-up} {
  @include make-column-classnames(lg);
}

@media #{$xlg-up} {
  @include make-column-classnames(xl);
}

@media #{$xxlg-up} {
  @include make-column-classnames(xxl);
}
