@use "@local/styles/settings-breakpoints" as *;
@use "../styles/grid-layout-helpers" as layout;

@mixin make-column-classnames($breakpoint: false) {
  $base-class: "span";

  @if $breakpoint {
    $base-class: "span-#{$breakpoint}";
  }

  @for $i from 1 through 12 {
    .#{$base-class}-#{$i} {
      flex: 0 0 layout.grid-calc($i);
    }
  }
}

.column {
  list-style: none;
  margin: 0;
  padding-inline: calc(var(--wtc-gutter-width, 24px) * 0.5);
  flex: 1;
}

.deep {
  padding-inline: 0;
}

@media #{$medium-up} {
  @include make-column-classnames;
}

@media #{$large-up} {
  @include make-column-classnames(lg);
}

@media #{$xlarge-up} {
  @include make-column-classnames(xl);
}

@media #{$xxlarge-up} {
  @include make-column-classnames(xxl);
}
