@import "@local/components/grid-layout/styles/grid-layout.scss";

@mixin gutter-highlight($color: blue, $size) {
  box-shadow:
    $color $size 0 0 0 inset,
    $color calc(#{$size} * -1) 0 0 0 inset;
}

@mixin dashed-outline {
  outline: 1px dashed #666;
}

html {
  font-size: 16px;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
a {
  font-family: sans-serif;
  line-height: 1.6;
}

code {
  font-family: monospace;
  background: #d8d8d8;
  padding: 0.1em 0.2em;
  border-radius: 0.25em;
  font-size: 0.92em;
  color: black;
}

a {
  color: #f9ea35;
}

.outline {
  @include dashed-outline;
}

.gutter-visualizer {
  @include dashed-outline;
  @include gutter-highlight(rgb(83 198 82 / 34%), calc(var(--wtc-gutter-width) * 0.5));
}

.gutter-visualizer--full {
  @include gutter-highlight(rgb(83 198 82 / 34%), var(--wtc-gutter-width));
}
