@mixin gutter-highlight($color: blue, $size) {
  box-shadow:
    $color $size 0 0 0 inset,
    $color calc(#{$size} * -1) 0 0 0 inset;
}

@mixin dashed-outline {
  outline: 1px dashed #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  font-family: sans-serif;
  line-height: 1.6;
}

code {
  font-family: monospace;
  background: #e6e6e6;
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
}

.outline {
  @include dashed-outline;
}

.gutter-visualizer {
  @include dashed-outline;
  @include gutter-highlight(
    rgb(83 198 82 / 34%),
    calc(var(--wtc-gutter-width) * 0.5)
  );
}

.gutter-visualizer--full {
  @include gutter-highlight(rgb(83 198 82 / 34%), var(--wtc-gutter-width));
}
