@use "@local/styles/settings-breakpoints" as *;

.mainNav {
  display: none;
}

.navBarOpen {
  .mainNav {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media #{$medium-up} {
  .navBar {
    left: 0;
    position: sticky;
    top: 0;
  }

  .mainNav {
    display: block;
  }

  .navBarOpen {
    .mainNav {
      height: auto;
      position: relative;
    }
  }
}
