@use "@local/styles/breakpoints/breakpoints-variables" as *;

:root {
  // font sizes
  --wtc-font-size-title-1: 42;
  --wtc-font-size-title-2: 33;
  --wtc-font-size-title-3: 26;
  --wtc-font-size-title-4: 20;
  --wtc-font-size-title-5: 16;
  --wtc-font-size-title-6: 13;
  --wtc-font-size-body: 16;
  --wtc-font-size-body-smaller: 13;
  --wtc-font-size-body-larger: 20;
  --wtc-font-size-body-legal: 10;

  // line heights
  --wtc-line-height-heading: 1.2;
  --wtc-line-height-body: 1.4;

  // font weights
  --wtc-font-weight-light: 300;
  --wtc-font-weight-regular: 400;
  --wtc-font-weight-medium: 500;
  --wtc-font-weight-semibold: 600;
  --wtc-font-weight-bold: 700;
  --wtc-font-weight-black: 900;
}

@media #{$md-up} {
  :root {
    --wtc-font-size-title-1: 52;
    --wtc-font-size-title-2: 41;
    --wtc-font-size-title-3: 32;
    --wtc-font-size-title-4: 25;
    --wtc-font-size-title-5: 20;
    --wtc-font-size-title-6: 16;
    --wtc-font-size-body: 20;
    --wtc-font-size-body-smaller: 16;
    --wtc-font-size-body-larger: 25;
  }
}
