.accordionPanel {
  --light-grey: #ebedf0;
  --grey: #475f7b;
  --white: #fff;

  background-color: var(--white);
  border: 1px solid var(--light-grey);
  transition: 0.3s;

  & * {
    margin: 0;
  }

  button {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;

    .accordionTitle {
      color: var(--grey);
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      transition: 0.3s;
    }

    .accordionIcon {
      color: transparent;
      padding: 2px 0 0 2px;
      transition: 0.35s;
    }

    &.active {
      background-color: var(--light-grey);

      .accordionIcon {
        transform: rotate(180deg);
        transform-origin: center;
      }

      .accordionTitle {
        color: var(--grey);
      }
    }
  }

  .accordionBody {
    background-color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    p {
      color: var(--grey);
      margin: 0;
      padding: 1rem;

      + p {
        padding-top: 0;
      }
    }

    &.collapse {
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height 0.35s ease;
    }
  }
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}
