.accordionPanel {
  background-color: #ebedf0;
  border: 1px solid #ddd;
  transition: 0.3s;

  h3 {
    margin: 0;
  }

  button {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;

    .accordionTitle {
      color: #475f7b;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      transition: 0.3s;
    }

    .accordionIcon {
      color: transparent;
      transition: 0.35s;
    }

    &.active {
      background-color: #5a8dee;

      .accordionIcon {
        color: #fff;
        transform: rotate(180deg);
      }

      .accordionTitle {
        color: #fff;
      }
    }
  }

  .accordionBody {
    background-color: #fff;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    p {
      color: #475f7b;
      margin: 0;
      padding: 1rem;

      + p {
        padding-top: 0;
      }
    }

    &.collapse {
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height 0.35s ease;
    }
  }
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}
