@use "@local/styles/settings-breakpoints.scss" as *;

.row {
  display: block;
  flex-wrap: wrap;
  inline-size: min(var(--wtc-row-width, 1440px), 100%);
  list-style: none;
  margin-inline: auto;
  padding-inline: calc(var(--wtc-gutter-width, 24px) * 0.5);
}

.noWrap {
  flex-wrap: nowrap;
}

@media #{$medium-up} {
  .row:not(.stackMedium) {
    display: flex;
  }
}

@media #{$large-up} {
  .stackMedium {
    display: flex;
  }
}
