@use "@local/styles/breakpoints/breakpoints-variables" as *;

.breakpointSnipe {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: white;
  bottom: 0;
  color: black;
  display: flex;
  line-height: 1;
  place-content: center center;
  position: fixed;
  right: 0;
  width: 40px;

  &::before {
    content: "sm";
  }
}

.breakpointSnipeDark {
  background-color: black;
  color: white;
}

@media #{$md-up} {
  .breakpointSnipe {
    &::before {
      content: "md";
    }
  }
}

@media #{$lg-up} {
  .breakpointSnipe {
    &::before {
      content: "lg";
    }
  }
}

@media #{$xl-up} {
  .breakpointSnipe {
    &::before {
      content: "xl";
    }
  }
}

@media #{$xxl-up} {
  .breakpointSnipe {
    &::before {
      content: "xxl";
    }
  }
}
