@use "@local/styles/breakpoints/breakpoints-variables" as *;
@use "./styles/text-utilities" as *;

$alignments: start, center, end, justify;
$variants: "title-1", "title-2", "title-3", "title-4", "title-5", "title-6", "body",
  "body-smaller", "body-larger", "body-legal";
$weights: "light", "regular", "medium", "semibold", "bold", "black";

@mixin alignment-classnames($prefix: "") {
  @each $a in $alignments {
    .align#{$prefix}-#{$a} {
      text-align: $a;
    }
  }
}

.text {
  margin: 0;
}

.textHeading {
  // This default font weight can be overwritten by the `weight` prop.
  font-weight: var(--wtc-font-weight-bold);
  line-height: var(--wtc-line-height-heading);
}

.textBody {
  // This default font weight can be overwritten by the `weight` prop.
  font-weight: var(--wtc-font-weight-regular);
  line-height: var(--wtc-line-height-body);
}

@each $v in $variants {
  .variant-#{$v} {
    font-size: calc-rem-css-var(--wtc-font-size-#{$v});
  }
}

@each $w in $weights {
  .weight-#{$w} {
    font-weight: var(--wtc-font-weight-#{$w});
  }
}

.noWrap {
  white-space: nowrap;
}

@include alignment-classnames;

@media #{$md-up} {
  @include alignment-classnames(-md);
}

@media #{$lg-up} {
  @include alignment-classnames(-lg);
}

@media #{$xl-up} {
  @include alignment-classnames(-xl);
}

@media #{$xxl-up} {
  @include alignment-classnames(-xxl);
}
