@use "@local/styles/breakpoints/breakpoints-variables" as *;

.wrapper {
  inset-inline: 100%;
  margin-inline: auto;
  padding-inline: var(--wtc-grid-margin-width);
}

@media #{$xxl-up} {
  .wrapper {
    inline-size: var(--wtc-row-width, 1440px);
  }
}
