/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */

@import "@local/styles/breakpoints/breakpoints-variables";

// TODO: This file will be deleted, and will instead be written directly to the `use-breakpoints.ts` file.
:export {
  lg: $lg-only;
  md: $md-only;
  sm: $sm-only;
  xl: $xl-only;
  xxl: $xxl-up;
}
