@use "@local/styles/settings/settings-breakpoints.scss" as *;

/**
  * @file Utility classes for margin and padding.
  * Classes are generated for each size based on the --base-space property.
  *
  * Format for class names is:
  * {margin/padding}-{x/y/top/right/bottom/left[optional]}{-breakpoint[optional]}-{size}
  *
  * Examples:
  * margin-0, padding-x-2, margin-x-auto, margin-bottom-medium-3, padding-x-large-4
  */

// Creates a value which is a multiple of the --base-space property.
@function space-by($multiplier: false) {
  @if not $multiplier {
    @return var(--base-space, 8px);
  } @else if $multiplier == 1 {
    @return var(--base-space, 8px);
  } @else {
    @return calc(var(--base-space, 8px) * #{$multiplier});
  }
}

/**
    * Generates a set of utility classes for margin and padding.
    * @param {Number} $total - The total number of classes to generate (0 through $total). Sizes are based on the --base-space property.
    * @param {String} $suffix - An optional suffix to append to the class name.
    */
@mixin generate-spacer-classes($total, $suffix: "") {
  @for $i from 0 through $total {
    $directions: "left-", "right-", "top-", "bottom-", "x-", "y-", "";
    $props: "margin", "padding";

    @each $prop in $props {
      @each $dir in $directions {
        .#{$prop}-#{$dir}#{$suffix}#{$i} {
          @if $dir == "left-" {
            #{$prop}-inline-start: space-by($i);
          } @else if $dir == "right-" {
            #{$prop}-inline-end: space-by($i);
          } @else if $dir == "top-" {
            #{$prop}-block-start: space-by($i);
          } @else if $dir == "bottom-" {
            #{$prop}-block-end: space-by($i);
          } @else if $dir == "x-" {
            #{$prop}-inline: space-by($i);
          } @else if $dir == "y-" {
            #{$prop}-block: space-by($i);
          } @else if $dir == "" {
            #{$prop}: space-by($i);
          }
        }
      }
    }
  }

  $directions: "left-", "right-", "x-";

  @each $dir in $directions {
    .margin-#{$dir}#{$suffix}auto {
      @if $dir == "left-" {
        margin-inline-start: auto;
      } @else if $dir == "right-" {
        margin-inline-end: auto;
      } @else if $dir == "x-" {
        margin-inline: auto;
      }
    }
  }
}

$total-space-classes: 10;

@include generate-spacer-classes($total-space-classes);

@media #{$medium-up} {
  @include generate-spacer-classes($total-space-classes, "md-");
}

@media #{$large-up} {
  @include generate-spacer-classes($total-space-classes, "lg-");
}

@media #{$xlarge-up} {
  @include generate-spacer-classes($total-space-classes, "xl-");
}

@media #{$xxlarge-up} {
  @include generate-spacer-classes($total-space-classes, "xxl-");
}
