.cta {
  border: 1px solid #1d252c;
  border-radius: 10px;
  background-color: #f9ea35;
  color: #101820;
  text-align: center;

  > a {
    display: block;
    padding: 10px 20px;
    color: inherit;
  }

  &:hover {
    background-color: #f9ec64;
  }
}
