@use "@local/styles/breakpoints/breakpoints-variables" as *;

.navList {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navListItem {
  a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-underline-offset: 2px;

    &[aria-current] {
      color: red;
    }
  }
}

@media (hover: hover) {
  .navListItem {
    a:hover {
      color: red;
    }
  }
}

// Feel free to change the breakpoint where the nav goes from hamburger to full
// Also change the breakpoint in the Toggler and Navigation components
@media #{$md-up} {
  .navList {
    background: black;
    flex-direction: row;
  }
}
