@use "@local/styles/settings/settings-breakpoints" as *;

.row {
  list-style: none;
  margin: 0 auto;
  padding: 0 calc(var(--gutter-width, 24px) * 0.5);
  width: min(var(--row-width, 1440px), 100%);
}

@media #{$medium-up} {
  .row:not(.stackMedium) {
    display: flex;
  }

  .align-flex-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }

  .align-flex-end {
    align-items: flex-end;
  }

  .align-baseline {
    align-items: baseline;
  }

  .align-stretch {
    align-items: stretch;
  }

  .justify-flex-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-flex-end {
    justify-content: flex-end;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .justify-space-around {
    justify-content: space-around;
  }

  .noWrap {
    flex-wrap: nowrap;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

@media #{$large-up} {
  .stackMedium {
    display: flex;
  }
}
